.chat-screen-message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chat-screen-text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 20px;
}

.chat-screen-timestamp {
  text-align: center;
  padding: 15px;
  color: gray;
}
.chat-screen-textUser {
  margin-left: auto;
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
}

.chat-screen-input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px lightgray;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
}

.input-button {
  margin-right: 20px;
  background-color: white;
  border: none;
  color: #fe3d71;
}
