.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}

.details {
  flex: 1;
}
.details > p {
  color: gray;
}

.chat-image {
  margin-right: 20px;
}

.timestamp {
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}
