.swipe-buttons {
  position: fixed;
  bottom: 1vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipe-buttons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipe-repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipe-close {
  padding: 3vw !important;
  color: red !important;
}

.swipe-star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipe-fav {
  padding: 3vh !important;
  color: #76e2b3 !important;
}

.swipe-flash {
  padding: 3vh !important;
  color: purple !important;
}
