.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  /* Based on the screen it will show how much it should be */
  border-radius: 20px;
  background-size: cover;
  background-position: center;

  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}

.card > h3 {
  position: absolute;
  bottom: 10px;
  color: white;
}
